<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

<style>
  body {
    background: lightblue;
    padding: auto;
  }

  .center-content {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: lightskyblue;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
  }
</style>

<div class=center-content>
  <center>
    <h3>Are you sure you want to delele "{{item}}" ?</h3>

    <form method="POST" action="">
      {% csrf_token %}
      <a class="btn btn-primary" href="{% url 'list' %}">Cancle</a>
      <button type="submit" class="btn btn-danger">Confirm</button>
  </center>
  </form>

</div>